@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: local('Lato Regular'), local('Lato-Regular'), url('../prod/fonts/lato-v14-latin-ext_latin-regular.woff2') format('woff2'), url('../prod/fonts/lato-v14-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 400;
   src: local('Lato Italic'), local('Lato-Italic'), url('../prod/fonts/lato-v14-latin-ext_latin-italic.woff2') format('woff2'), url('../prod/fonts/lato-v14-latin-ext_latin-italic.woff') format('woff');
}

@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 700;
   src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../prod/fonts/lato-v14-latin-ext_latin-700italic.woff2') format('woff2'), url('../prod/fonts/lato-v14-latin-ext_latin-700italic.woff') format('woff');
}

@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: local('Lato Bold'), local('Lato-Bold'), url('../prod/fonts/lato-v14-latin-ext_latin-700.woff2') format('woff2'), url('../prod/fonts/lato-v14-latin-ext_latin-700.woff') format('woff');
}

@font-face {
   font-family: 'IBM Plex Mono';
   font-style: normal;
   font-weight: 400;
   src: local('IBM Plex Mono'), local('IBMPlexMono'), url('../prod/fonts/ibm-plex-mono-v4-latin-regular.woff2') format('woff2'),  url('../prod/fonts/ibm-plex-mono-v4-latin-regular.woff') format('woff');
}


@font-face {
   font-family: 'miscicons';
   src: url('../prod/fonts/miscicons.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   font-family: 'miscicons' !important;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-checkon:before {
   content: "\e900";
 }
 .icon-checkoff:before {
   content: "\e901";
 }
 