@import url("normalize.css");
@import url("fonts.css");
@import url("themes.css");
@import url("markdown.css");

:focus {
   outline: none;
}

.overall {
   height: 100%;
   display: flex;
   flex-flow: row nowrap;
   background: var(--main-bg);
}

#react {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.main {
   flex-basis: 75%;
   max-width: 75%;
   overflow-y:auto;
   padding: 20px 20px 0 20px;
   background: var(--main-bg);
}

.sidebar {
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-flow: column nowrap;
   background: var(--sidebar-bg);
}

.main-content {
   padding-bottom: 20px;
}

.sidebar-content {
   flex: 1 1 auto;
   overflow-y: auto;
   padding: 15px;
   padding-top: 40px;
}

.sidebar-footer {
   flex: 0 0 auto;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}

.logo {
   width: 70px;
   height: 70px;
   opacity: 0.2;
}

.dirty .logo {
   opacity: 0.35;
}

.sidebar button {
   cursor: pointer;
   color: var(--sidebar-btn-fg);
   background: var(--sidebar-btn-bg);
   border: 1px solid var(--sidebar-btn-border);
   border-radius: 6px;
   font-size: 14px;
   padding: 3px 24px 5px;
   text-decoration: none;
}

.sidebar button:hover, 
.sidebar button:focus {
   color:  var(--sidebar-btn-fg-active);
}

.sidebar button:active {
   color:  var(--sidebar-btn-fg-active);
   position: relative;
   top: 1px;
}

.main-title {
   font-weight: bold;
   font-size: 30px;
   margin-bottom: 20px;
   color: var(--main-fg);
}

.main-edit {
   height: calc(100% - 80px);
}

.main-edit textarea {
   width: calc(100% - 15px);
   height: calc(100% - 15px);
   background: var(--main-pre-bg);
   border: 1px solid var(--main-pre-border);
   font-family: 'IBM Plex Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
   font-size: 12px;
   line-height: 1.4;
   padding: 10px;
   border-radius: 5px 0 0 5px;
   resize: none;
   color: var(--main-fg);
}

.main-edit textarea:focus {
   border: 1px solid var(--main-pre-border);
}

::-webkit-scrollbar { width: 12px; height: 12px; }
.main::-webkit-scrollbar-track { background: var(--main-scrollbar-thumb);  }
.main::-webkit-scrollbar-thumb { background: var(--main-scrollbar-track); }
.main { scrollbar-color: var(--main-scrollbar-thumb) var(--main-scrollbar-track); }

.sidebar::-webkit-scrollbar-track { background: var(--sidebar-scrollbar-thumb);  }
.sidebar::-webkit-scrollbar-thumb { background: var(--sidebar-scrollbar-track); }
.sidebar { scrollbar-color: var(--sidebar-scrollbar-thumb) var(--sidebar-scrollbar-track); }

.main-edit textarea::-webkit-scrollbar-track { background: var(--main-pre-scrollbar-thumb);  }
.main-edit textarea::-webkit-scrollbar-thumb { background: var(--main-pre-scrollbar-track); }
.main-edit textarea { scrollbar-color: var(--main-pre-scrollbar-thumb) var(--main-pre-scrollbar-track); }

.mapnode {
   display: inline-block;
   position: absolute;
   background-color: rgb(250, 250, 132);
   border-radius: 4px;
   border: 1px solid  rgb(109, 109, 59);
   max-width: 330px;
   white-space: pre-line;
}

.level1 {
   font-size: 18px;
   font-weight: bold;
   border-radius: 50%;
   border: 2px solid  rgb(109, 109, 59);
}

.level2 {
   font-size: 16px;
   border-radius: 30px;
   border: 2px solid  rgb(109, 109, 59);
}
.level3, .level4, .level5, .level6, .level7, .level8, .level9 {
   font-size: 12px;
}