:root {
   --sidebar-bg:             hsl(38, 20%, 70%);
   
   --sidebar-btn-bg:         hsl(38, 20%, 76%);
   --sidebar-btn-border:     transparent;
   --sidebar-btn-fg:         hsl(38, 20%, 55%);
   --sidebar-btn-fg-active:  hsl(38, 20%, 48%);

   --main-bg:                hsl(38, 39%, 95%);

   --main-fg:                hsl(38, 39%, 9%);
   --main-blockquote-fg:     hsl(38, 39%, 9%);

   --main-link:              hsl(212, 97%, 43%);
   
   --main-hr:                hsl(38, 39%, 88%);
   --main-pre-bg:            hsl(38, 39%, 88%);
   --main-table-stripe-bg:   hsl(38, 39%, 88%);
   --main-blockquote-border: hsl(38, 39%, 88%);

   --main-pre-border:       hsl(38, 39%, 80%);
   --main-table-border:     hsl(38, 39%, 80%);

   --main-pre-scrollbar-thumb:    hsl(38, 39%, 78%);
   --main-pre-scrollbar-hover:    hsl(38, 39%, 70%);
   --main-pre-scrollbar-track:    hsl(38, 39%, 83%);
   --main-scrollbar-thumb:        hsl(38, 39%, 85%);
   --main-scrollbar-hover:        hsl(38, 39%, 70%);
   --main-scrollbar-track:        hsl(38, 39%, 90%);
   --sidebar-scrollbar-thumb:     hsl(38, 20%, 60%);
   --sidebar-scrollbar-hover:     hsl(38, 20%, 50%);
   --sidebar-scrollbar-track:     hsl(38, 20%, 65%);

   --mmap-edit-bg: hsl(37, 7%, 76%);

}
.dark {
   --sidebar-bg:             hsl(38, 20%, 30%);
   
   --sidebar-btn-bg:         hsl(38, 20%, 24%);
   --sidebar-btn-border:     transparent;
   --sidebar-btn-fg:         hsl(38, 20%, 45%);
   --sidebar-btn-fg-active:  hsl(38, 20%, 52%);

   --main-bg:                hsl(38, 39%, 5%);

   --main-fg:                hsl(38, 20%, 70%);
   --main-blockquote-fg:     hsl(38, 20%, 70%);

   --main-link:              hsl(212, 50%, 70%);
   
   --main-hr:                hsl(38, 39%, 12%);
   --main-pre-bg:            hsl(38, 39%, 12%);
   --main-table-stripe-bg:   hsl(38, 39%, 12%);
   --main-blockquote-border: hsl(38, 39%, 12%);

   --main-pre-border:       hsl(38, 39%, 20%);
   --main-table-border:     hsl(38, 39%, 20%);

   --main-pre-scrollbar-thumb:    hsl(38, 39%, 14%);
   --main-pre-scrollbar-hover:    hsl(38, 39%, 24%);
   --main-pre-scrollbar-track:    hsl(38, 39%, 10%);
   --main-scrollbar-thumb:        hsl(38, 39%, 7%);
   --main-scrollbar-hover:        hsl(38, 39%, 17%);
   --main-scrollbar-track:        hsl(38, 39%, 3%);
   --sidebar-scrollbar-thumb:     hsl(38, 20%, 32%);
   --sidebar-scrollbar-hover:     hsl(38, 20%, 42%);
   --sidebar-scrollbar-track:     hsl(38, 20%, 28%);

   --mmap-edit-bg: hsl(37, 7%, 24%);

}

